@page
@using SistemaDePagoDeAranceles.Models
@model SistemaDePagoDeAranceles.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Gestión de Categorías";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<a asp-page="Create" class="btn btn-primary mb-3">
    <i class="bi bi-plus-circle"></i> Nueva Categoría
</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Monto Base</th>
        <th>Activo</th>
        <th>Fecha de Registro</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.BaseAmount</td>
            <td>@(item.Active ? "Sí" : "No")</td>
            <td>@item.RegisterDate.ToString("dd/MM/yyyy")</td>
            <td>
                <a asp-page="Edit" asp-route-id="@(Model.Protect(item.Id))" class="btn btn-sm btn-outline-warning">Editar</a>
                <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>