@page
@using SistemaDePagoDeAranceles.Domain.Models
@model SistemaDePagoDeAranceles.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Gestión de Categorías";
}

<h2 class="mb-4">@ViewData["Title"]</h2>

<a asp-page="Create" class="btn btn-primary mb-3">
    <i class="bi bi-plus-circle"></i> Nueva Categoría
</a>
<table class="table table-striped">
    <thead class="table-primary">
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Monto Base</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Categories.Any())
    {
        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.BaseAmount</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@(Model.Protect(item.Id))" class="btn btn-sm btn-outline-warning">Editar</a>
                    <a asp-page="Delete" asp-route-id="@(Model.Protect(item.Id))" class="btn btn-sm btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5" class="text-center text-muted">No hay categorías registradas.</td>
        </tr>
    }
    
    </tbody>
</table>